@charset "UTF-8";
@font-face {
  font-family: 'font1';
  src: url("../fonts/优设标题黑.ttf");
}

@font-face {
  font-family: 'font2';
  src: url("../fonts/同文新字典体.ttf");
}

#D1 a {
  color: black;
}

#D1 .navbar-nav {
  padding-top: 50%;
}

#DD {
  background-color: #ffffff;
  margin-bottom: 10px;
}

#D1 .col-md-1 {
  margin-left: 20px;
}

#SS {
  height: 200px;
  background-image: url("../image/13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

#FF p {
  font-size: 30px;
  color: white;
}

#GG {
  margin-top: 20px;
}

.breadcrumb-item {
  color: black;
  font-family: '微软雅黑';
  font-size: 12px;
}

.breadcrumb-item a {
  color: black;
}

#message p:first-child {
  text-align: center;
}

#message p:last-child {
  text-align: center;
  font-size: 13px;
  color: darkgray;
}

.footer {
  background-color: #333333;
  color: white;
}

#part4 {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 20px;
}

#tips {
  display: flex;
}

#tips ul li {
  list-style: none;
  white-space: nowrap;
  text-decoration: none;
}

#icon {
  margin-top: 50px;
  padding-bottom: 10px;
}

#tips ul li a span {
  color: white;
}

h3 {
  padding-bottom: 10px;
  border-bottom: 1px dashed #aaaaaa;
}

#tips #ul1 li,
#tips #ul2 li {
  font-family: "微软雅黑";
  font-size: 18px;
}

#tips #ul1 li:nth-child(1),
#tips #ul2 li:nth-child(1) {
  font-size: 20px;
  color: #111111;
}

#jj,
#jj1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
