@charset "UTF-8";
$color:#ffffff;
$h:200px;   
$btn-white-space: nowrap;

@font-face {
    font-family: 'font1';
    src: url('../fonts/优设标题黑.ttf');
}

@font-face {
    font-family: 'font2';
    src: url('../fonts/同文新字典体.ttf');
}

// 头部 
#D1 a {
    color: black;
}

#D1 .navbar-nav {
    padding-top: 50%;

}

#DD {
    background-color: $color;
    margin-bottom: 10px;
}

#D1 .col-md-1 {
    margin-left: 20px;
}
// image
#q1{
    height: 100px;
    background-image: url('../image/41.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
#q2{
    color: white;
    font-size: 30px;
    font-family: '微软雅黑';
}
// 主体
//左侧
#q3{
    margin-top: 40px;
}
#message p:first-child{
    font-size: 30px;
}
#message p:nth-child(2){
    font-size: 20px;
}
#message p:nth-child(3){
   color:palevioletred;
}
#message p:nth-child(3) span{
    color: slategrey;
}
#message p:last-child{
    color:slategrey;
    font-size: 15px;
}
#q3 img{
    margin-bottom: 20px;
}
#xiangguan{
    margin-top: 100px;
}
#xiangguan p:first-child{
    font-size: 28px;}
#xiangguan .row p{
    font-size: 12px;
    color:palevioletred;
}
#xiangguan img:hover{
    transform: scale(1.1,1.1);
    transition-duration:1s;
}
#fanye{
    display: flex;
    justify-content: space-between;
}
#fanye1 p:first-child,#fanye2 p:first-child{
    font-size: 12px;
    color: #aaaaaa;
}
//右侧
#search_one{
    display: flex;
    
}
#rightcontent img{
    margin-top: 20px;
}
.tuwen{
    display: flex;
    align-items: center;
    
}
.tuwen p{
  margin-left: 10px;
}
#max .tuwen p{
    font-size: 14px;
    color: #aaaaaa;
}
#discuss .form-control{
    height: 200px;
}
.modal-footer{
    position: relative;
}
.form-check {
   right:380px
}
// footer
.footer {
    background-color: #333333;
    color: white;
}

#part4 {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 20px;

}

#tips {
    display: flex;

}

#tips ul li {
    list-style: none;
    white-space: nowrap;
    text-decoration: none;
}

#icon {
    margin-top: 50px;
    padding-bottom: 10px;
}

#tips ul li a span {
    color: white;
}

h3 {
    padding-bottom: 10px;
    border-bottom: 1px dashed #aaaaaa;
}

#tips #ul1 li,
#tips #ul2 li {
    font-family: "微软雅黑";
    font-size: 18px;
}

#tips #ul1 li:nth-child(1),
#tips #ul2 li:nth-child(1) {
    font-size: 20px;
    color: #111111;
}
#footersize{
    font-size: 12px;
    color: #aaaaaa;
}
#jj,
#jj1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}